.index-page .section-basic {
    display: none;
}
/* banner css*/
h2.counter_title {
    color: #fff;
    font-size: 30px;
    line-height: 50px;
    text-transform: uppercase;
    font-weight: 700;
}
h2.counter_title span {
    font-weight: bold;
    font-size: 50px;
    display: block;
    margin-bottom: 20px;
}
h4.counter_subtitle {
    color: #fff;
    font-size: 22px;
    line-height: 34px;
    font-weight: 300;
    font-style: italic;
    text-transform: none;
    margin-bottom: 20px;
}
#countdown .days h2 {
    font-size: 40px;
    font-weight: bold;
    padding: 10px 40px;
    border-radius: 5px;
    border: 1px solid #ECE7E7;
    display: inline-block;
}
.home_box .date {
    margin: 0;
}
/*=================next event =========== */
.event_wrapper {
    padding: 0;
    background-color: #363f4a;
    border-radius: 5px 5px 0 0;
}
.event_box {
    padding: 40px 0;
}
.event_box .icon {
    width: 50px;
    display: inline-block;
    float: left;
    color: #fff;
}
.event_box .event_info {
    color: #fff;
}
/* ============== topics ===============*/
.topics h3 {
    text-transform: uppercase;
}
.topics .description {
    margin-bottom: 70px;
}
.topics h4 {
    font-weight: 700px;
    color: #9c27b0;
    font-size: 22px;
}
.topics i {
    color: #9c27b0;
}
/*============subscribe================ */
.subscribe_wrapper {
    position: relative;
    width: 100%;
    z-index: 10;
    background: url("http://placehold.it/1920x800");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.subscribe_box {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 110px 0 110px 0;
    text-align: center;
}
h3.parallax_title {
    color: #fff;
    font-size: 22px;
    line-height: 34px;
    font-weight: 300;
    font-family: Georgia, serif;
    font-style: italic;
    text-transform: none;
    margin-bottom: 20px;
    margin-top: 0;
}
h3.parallax_title span {
    text-transform: uppercase;
    font-weight: 700;
    font-style: normal;
    font-family: 'PT Sans', sans-serif;
}
.subscribe_form_wrapper {
    width: 100%;
    text-align: center;
    padding-top: 10px;
}
.subscribe_form_box {
    margin: 0 auto;
    max-width: 505px;
    padding: 15px 10px 15px 15px;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
p.success_box {
    font-size: 16px;
    color: #fff!important;
    padding-top: 20px;
}
#subscribe-form #email_subscribe {
    width: 100%;
    max-width: 320px;
    height: 44px;
    padding: 0 10px;
    border: 1px solid #fff;
    background-color: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #656565;
    font-size: 14px;
    margin: 0 10px 0 0;
}
/*===========Speaking ===============*/
.speaker .team-player {
    min-height: 415px;
}
/*============ call-out ================ */
.call-out {
    position: relative;
    padding: 65px 0px 45px;
    background: #363f4a;
    color: #ffffff;
}
.call-out .column {
    font-size: 18px;
    font-weight: 300;
}
.call-out .column h2 {
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 0;
    font-weight: 600;
    color: #ffffff;
}
.call-out .column p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #aaa;
}
/*========== event-ticket ===============*/
.event-ticket {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.event-ticket .section-title {
    position: relative;
    margin-bottom: 60px;
}
/**/
.event-ticket .form-area {
    padding: 40px 50px;
    background: #fff;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.10), 0 2px 7px 0 rgba(0, 0, 0, 0.12);
}
.event-ticket .form-area h2 {
    position: relative;
    font-size: 19px;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-top: 4px;
}
.event-ticket .ticket-form {
    position: relative;
}
.event-ticket .ticket-form .field-label {
    display: block;
    text-transform: capitalize;
    color: #777;
    font-size: 12px;
    margin-bottom: 9px;
}
.event-ticket .ticket-info .item .column {
    position: relative;
    padding: 50px 0;
    border-right: 1px solid #ececec;
    padding-left: 50px;
}
.event-ticket .ticket-info {
    position: relative;
}
.event-ticket .ticket-info .item .row-7 .column-7 {
    padding-right: 7px;
    padding-left: 7px;
}
.event-ticket .ticket-info .item {
    position: relative;
    background: #fff;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.10), 0 2px 7px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 25px;
    padding-left: 15px;
    padding-right: 40px;
}
.event-ticket .ticket-info .item:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.event-ticket .ticket-info .item .price {
    position: relative;
    font-weight: 600;
    font-size: 40px;
    color: #333;
    line-height: 48px;
}
.event-ticket .ticket-info .item .price span {
    font-size: 18px;
    font-weight: 500;
}
.event-ticket .ticket-info .item .right-column {
    padding-left: 35px;
}
.capitalize {
    text-transform: capitalize;
}
.event-ticket .ticket-info .item h2 {
    position: relative;
    font-size: 19px;
    font-weight: 600;
    color: #333;
    text-transform: capitalize;
    margin-bottom: 13px;
    margin-top: 33px;
}
.event-ticket .ticket-info .item .btn-style-default {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #9c27b0;
    text-transform: capitalize;
    line-height: 40px;
}
.event-ticket .ticket-info .item .list {
    position: relative;
    padding: 0;
    margin: 0;
}
.event-ticket .ticket-info .item .list li {
    font-size: 13px;
}
/*=========== EVENT SCHEDULE ===============*/
.event-schedule .profile-tabs {
    margin-top: 50px;
    margin-bottom: 80px;
}
.event-schedule .tabs-item {
    margin-top: 40px;
}
.event-schedule .tabs-item ul {
    text-align: center;
    width: 100%;
    padding: 0;
}
.event-schedule .tabs-item ul .e-speaker-wrap {
    display: inline-block;
    vertical-align: top;
    width: 19%;
}
.event-schedule .tabs-item ul li: last-child .wrap: :after {
    display: none;
}
.event-schedule .tabs-item .e-speaker-wrap .wrap {
    position: relative;
    z-index: 100;
}
.event-schedule .tabs-item .e-speaker-wrap .e-img {
    border: 7px solid white;
    border-radius: 50%;
    height: 88px;
    width: 88px;
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.11), 0 0 0 10px #F5F5F5;
}
.event-schedule .tabs-item .e-speaker-wrap .e-time {
    position: relative;
    color: #9c27b0;
    font-size: 13px;
    letter-spacing: -.2px;
    margin: 20px auto 15px;
}
.event-schedule .tabs-item .e-speaker-wrap .e-title {
    letter-spacing: .1px;
}
.event-schedule .tabs-item .e-speaker-wrap .e-subtitle {
    margin-top: 10px;
    font-size: 12px;
    text-transform: uppercase;
    color: #ADADAD;
    letter-spacing: -.3px;
}
.event-schedule .tabs-item .e-speaker-wrap .e-break {
    text-transform: uppercase;
    color: #9c27b0;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: .7px;
    display: inline-block;
    padding: 35px 11px 0;
    background-color: #fff;
}
.event-schedule .tabs-item .wrap: :after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 112px;
    border-bottom: 1px dashed black;
    position: absolute;
    top: 45px;
    right: -58px;
    z-index: -1;
}
.event-schedule .tabs-item li: last-child .wrap: :after {
    border-color: transparent;
}
/*=========== our-sponsors ==============*/
.our-sponsors {
    background-color: #f7f7f7;
}
.our-sponsors .sponsors-item {
    display: inline-block;
    border: 1px solid #E8E8E8;
    transition: all 300ms ease-in-out;
}
.our-sponsors .sponsors-item:hover {
    border: 1px solid #9c27b0;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.18), 0 8px 16px rgba(0, 0, 0, 0.36);
}
.our-sponsors .t-center {
    margin-top: 20px;
}
/*=========== contact_wrapper ============*/
.contact_wrapper {
    position: relative;
    width: 100%;
    z-index: 10;
    background: url("http: //placehold.it/1920x700");
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.contact_box {
    width: 100%;
    margin: 0 auto;
    padding: 30px 0 0 0;
    text-align: center;
}
h5.contact_title {
    margin: 25px 0 20px 0!important;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
p.contact_details, a.contact_details {
    margin: 8px 0;
    color: #fff;
    font-size: 18px;
}
a.button_transparent {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
ul.social {
    display: block;
    margin: 0;
    text-align: center;
    padding: 0;
}
ul.social li {
    display: inline-block;
    margin: 0;
    line-height: 100%!important;
}
ul.social li a {
    color: rgba(0,0,0, 0.87);
}
ul.social li a:hover {
    color: #9c27b0;
}
#footer a {
    text-decoration: underline;
}
ul.social li a i {
    display: inline-block;
    margin: 0 8px;
    padding: 0;
    font-size: 22px!important;
    line-height: 24px!important;
    transition: all .5s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
/*===============================================*/
.tim-row {
    margin-bottom: 20px;
}
.tim-white-buttons {
    background-color: #777777;
}
.title {
    margin-bottom: 15px;
    min-height: 32px;
}
.title.text-center {
    margin-bottom: 50px;
}
.tim-typo {
    padding-left: 25%;
    margin-bottom: 40px;
    position: relative;
}
.tim-typo .tim-note {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
}
.tim-row {
    padding-top: 50px;
}
.tim-row h3 {
    margin-top: 0;
}
.switch {
    margin-right: 20px;
}
#navbar-full .navbar {
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}
.space {
    height: 130px;
    display: block;
}
.space-110 {
    height: 110px;
    display: block;
}
.space-50 {
    height: 50px;
    display: block;
}
.space-70 {
    height: 70px;
    display: block;
}
.navigation-example .img-src {
    background-attachment: scroll;
}
.navigation-example {
    background-image: url('../img/bg.jpg');
    background-position: center center;
    background-size: cover;
    margin-top: 0;
    min-height: 740px;
}
#notifications {
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}
.tim-note {
    text-transform: capitalize;
}
#buttons .btn {
    margin: 0 0px 15px;
}
.space-100 {
    height: 100px;
    display: block;
    width: 100%;
}
.be-social {
    padding-bottom: 20px;
    /* border-bottom: 1px solid #aaa;
    */
margin: 0 auto 40px;
}
.txt-white {
    color: #FFFFFF;
}
.txt-gray {
    color: #ddd !important;
}
.parallax {
    width: 100%;
    height: 570px;
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    width: 40px;
    float: left;
}
.logo-container .brand {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}
.logo-container .brand-material {
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}
.logo-container .logo img {
    width: 100%;
}
.navbar-small .logo-container .brand {
    color: #333333;
}
.fixed-section {
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
}
.fixed-section ul li {
    list-style: none;
}
.fixed-section li a {
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}
.fixed-section li a.active {
    color: #00bbff;
}
.fixed-section.float {
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}
.parallax .parallax-image {
    width: 100%;
    overflow: hidden;
    position: absolute;
}
.parallax .parallax-image img {
    width: 100%;
}
.separator {
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line {
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray {
    background-color: #EEEEEE;
}
.social-buttons-demo .btn {
    margin-right: 5px;
    margin-bottom: 7px;
}
.img-container {
    width: 100%;
    overflow: hidden;
}
.img-container img {
    width: 100%;
}
.lightbox img {
    width: 100%;
}
.lightbox .modal-content {
    overflow: hidden;
}
.lightbox .modal-body {
    padding: 0;
}
/* Loading dots */
/* transitions */
.presentation .front, .presentation .front:after, .presentation .front .btn, .logo-container .logo, .logo-container .brand {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}
#images h4 {
    margin-bottom: 30px;
}
#javascriptComponents {
    padding-bottom: 0;
}
#javascriptComponents .btn-raised {
    margin: 10px 5px;
}
/* layer animation */
.layers-container {
    display: block;
    margin-top: 50px;
    position: relative;
}
.layers-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    text-align: center;
}
.section-black {
    background-color: #333;
}
.animate {
    transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
}
.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}
.navbar-transparent.navbar-small .logo-container .brand {
    color: #FFFFFF;
}
.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}
.sharing-area {
    margin-top: 80px;
}
.sharing-area .btn {
    margin: 15px 4px 0;
    color: #FFFFFF;
}
.sharing-area .btn i {
    font-size: 18px;
    position: relative;
    top: 2px;
    margin-right: 5px;
}
.sharing-area .btn-twitter {
    background-color: #55acee;
}
.sharing-area .btn-facebook {
    background-color: #3b5998;
}
.sharing-area .btn-google-plus {
    background-color: #dd4b39;
}
.sharing-area .btn-github {
    background-color: #333333;
}
.section-thin, .section-notifications {
    padding: 0;
}
.section-navbars {
    padding-top: 0;
}
#navbar .navbar {
    border-radius: 0;
}
.section-tabs {
    background: #EEEEEE;
}
.section-pagination {
    padding-bottom: 0;
}
.section-download h4 {
    margin-bottom: 50px;
}
.section-examples a {
    text-decoration: none;
}
.section-examples h5 {
    margin-top: 30px;
}
.components-page .wrapper > .header, .tutorial-page .wrapper > .header {
    height: 400px;
    padding-top: 100px;
    background-size: cover;
    background-position: center center;
}
.components-page .title, .tutorial-page .title {
    color: #FFFFFF;
}
#getting-started {
    font-size: 40px;
    color: #fff;
    display: inline-block;
    padding: 15px;
    font-weight: 400;
    font-family: sans-serif;
    margin-top: 20px;
}
/* Blog page*/
.blog-page {
}
.page.with-sidebar.right .left-box {
    margin-right: -20px;
}
.single-blog-post {
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-top: 8px;
}
.blog-page .single-blog-post + .single-blog-post {
    margin-top: 80px;
}
.blog-page .single-blog-post .img-holder {
    position: relative;
    margin-bottom: 50px;
    background: #000;
}
.blog-page .single-blog-post .img-holder .img-post {
    overflow: hidden;
}
.blog-page .single-blog-post .img-holder .img-post > img {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    -webkit-transition: -webkit-transform .4s ease, opacity .4s ease;
    transition: transform .4s ease, opacity .4s ease;
    max-width: 100%;
}
.blog-page .single-blog-post .img-holder .img-post:hover > img {
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    opacity: .7;
}
.blog-page .single-blog-post .img-holder .date-box {
    width: 85px;
    height: 85px;
    background: linear-gradient(60deg, #ba3bd0, #9c27b0);
    text-align: center;
    position: absolute;
    bottom: -20px;
    left: 0;
    padding: 15px 0;
    margin-left: 20px;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
}
.blog-page .single-blog-post .img-holder .date-box:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: 1px solid #b35eb2;
}
.blog-page .single-blog-post .img-holder .date-box span {
    font-size: 30px;
}
.single-blog-post h3 {
    font-size: 16px;
    font-weight: bold;
    color: #282828;
    line-height: 26px;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
}
.blog-page .single-blog-post h3 a {
    font-size: 20px;
    font-weight: bold;
    color: #242424;
    text-decoration: none;
}
.blog-page .single-blog-post p {
    margin-top: 13px;
    font-size: 16px;
    line-height: 26px;
}
.list-inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.blog-page .single-blog-post ul.meta li a {
    font-style: italic;
    color: #959595;
    line-height: 37px;
    text-decoration: none;
    font-size: 16px;
}
.blog-page .single-blog-post ul.meta li a i {
    font-size: 16px;
    color: #9c27b0;
    margin-right: 6px;
}
.blog-page .right-box {
    padding-left: 50px;
}
.blog-page .single-sidebar-widget + .single-sidebar-widget {
    margin-top: 50px;
}
.blog-page .right-box .title {
    margin: 0 0 14px 0;
}
.blog-page .right-box .title h2 {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    color: #555;
    line-height: 26px;
    text-transform: uppercase;
    position: relative;
    top: -5px;
}
.blog-page .right-box .title .decor-line {
    background: #9c27b0;
    width: 45px;
    height: 3px;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}
.blog-page .right-box .categories ul {
    padding: 0;
}
.blog-page .right-box .categories ul li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.blog-page .right-box .categories ul li a {
    padding-left: 15px;
    font-weight: 400;
    color: #575757;
    display: block;
    line-height: 36px;
    position: relative;
    -webkit-transition: color .4s ease;
    transition: color .4s ease;
    font-size: 16px;
}
.blog-page .right-box .categories ul li a:hover {
    text-decoration: none;
    color: #9c27b0;
}
.blog-page .right-box .categories ul li a:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #C8C8C8;
    font-size: 14px;
    position: absolute;
    left: 0;
}
.blog-page .right-box .tag-clouds ul {
    margin: 0;
    padding: 0;
}
.blog-page .right-box .tag-clouds ul li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}
.blog-page .right-box .popular ul {
    margin: 0;
    padding: 0;
}
.blog-page .right-box .popular ul li {
    margin: 10px 0;
    padding: 0;
    list-style: none;
}
.blog-page .right-box .popular ul li .icon-box {
    width: 110px;
    background: #9c27b0;
    display: table-cell;
    vertical-align: top;
}
.blog-page .right-box .popular ul li .icon-box img {
    width: 100%;
}
.blog-page .right-box .popular ul li .text-box {
    padding-left: 30px;
    display: table-cell;
    vertical-align: top;
}
.blog-page .right-box .popular ul li .text-box h3 {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: -3.5px;
    font-weight: 600;
}
.blog-page .right-box .popular ul li .text-box h3 a {
    text-decoration: none;
    color: #666;
}
.blog-page .right-box .popular ul li .text-box span {
    color: #9c27b0;
    font-size: 13px;
    line-height: 10px;
}
/**/
blockquote {
    border-left-color: #9c27b0;
    padding: 0px 20px;
}
blockquote p {
    font-style: italic;
}
.left-box .comment-box h2 {
    font-size: 26px;
    font-weight: 400;
}
.left-box .single-comment-box > ul {
    margin: 0;
    padding: 0;
}
.left-box .single-comment-box > ul > li {
    border-top: 1px solid #EEEEEE;
    padding: 25px;
    padding-bottom: 18px;
    list-style: none;
}
.left-box .single-comment-box ul li .icon-box {
    width: 110px;
    background: #9c27b0;
    display: table-cell;
    vertical-align: top;
}
.left-box .single-comment-box ul li .icon-box img {
    width: 100%;
}
.left-box .single-comment-box ul li .text-box {
    padding-left: 30px;
    display: table-cell;
    vertical-align: top;
}
.left-box .single-comment-box ul li .text-box h3 {
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    margin-top: -3.5px;
    font-weight: 600;
}
.left-box .single-comment-box ul li .text-box h3 a {
    text-decoration: none;
    color: #666;
}
.left-box .single-comment-box ul li .text-box span {
    color: #9c27b0;
    font-size: 13px;
    line-height: 10px;
}
.left-box .comment-form h4 {
    font-weight: 700;
    color: #555;
}
/* end Blog page*/

/**============= Responsive ====================*/
@media screen and (min-width: 991px) {
    .lightbox .modal-dialog {
    width: 960px;
}
}
@media (max-width: 1024px) {
    .main-raised {
    margin: -60px 27px 0px;
}
.section {
    padding: 50px 0;
}
.event-ticket .ticket-info .item .column {
    padding-left: 30px;
}
.event-ticket .ticket-info .item {
    padding-right: 10px;
    padding-left: 10px;
}
.event-ticket .form-area {
    padding: 34px 50px;
}
.event_box {
    padding: 0;
}
}
@media (max-width: 768px) {
    .container {
    width: 100%;
}
h2.counter_title{
    margin-bottom: 40px;
    line-height: 58px;
}
h4.counter_subtitle{
margin-bottom: 25px;
}
.parallax .parallax-image {
    width: 100%;
    height: 640px;
    overflow: hidden;
}
.parallax .parallax-image img {
    height: 100%;
    width: auto;
}
.event-ticket .ticket-info .item .column {
    border-right: none;
}
.btn, .btn-morphing {
    margin-bottom: 10px;
}
.parallax .motto {
    top: 170px;
    margin-top: 0;
    font-size: 60px;
    width: 270px;
}
.footer nav.pull-left {
    float: none !important;
    text-align: center;
}
.call-out .column {
    text-align: center;
}
.event_box {
    padding: 0;
}
.topics {
    text-align: center;
}
.topics .col-md-4 {
    margin-bottom: 20px;
}
.our-sponsors .sponsors-item {
    margin-bottom: 20px;
}
.next-event {
    padding: 30px 0;
}
}
@media (max-width: 767px) {

.event-schedule .tabs-item ul .e-speaker-wrap {
    width: 100%;
    overflow: hidden;
    padding: 11px 0;
}
.event-schedule .tabs-item .wrap: :after {
    display: none;
}
.main-raised {
    margin: -60px 18px 0px;
}
.index-page #home {
    margin-top: 22vh;
}
h2.counter_title {
    font-size: 24px;
    line-height:38px;
    margin-bottom: 10px;
}
h4.counter_subtitle {
    font-size: 15px;
    line-height: 20px;
    margin-bottom:10px;
}
#countdown .days h2 {
    font-size: 30px;
}
h2.title {
    font-size: 28px;
}
.topics h3 {
    font-size: 19px;
}
h2.counter_title {
    font-size: 20px;
}
h2.counter_title span {
    font-size: 40px;
    margin-bottom: 0;
}
#getting-started {
    font-size: 30px;
    margin-top: 0;
}
/* mobile menu*/
.navbar-collapse .nav .dropdown {
    text-align: center;
}
.navbar-collapse .nav .dropdown-menu {
    text-align: center;
}
.navbar-collapse .nav .dropdown-menu li a {
    padding: 5px 0px;
}
/* banner css*/
.event_box .icon{
    text-align: center;
    margin-right: 20px;
}

}
@media (max-width: 414px) {
    .event-ticket .form-area {
    padding: 20px 10px;
    text-align: center;
}
.event-ticket .m-top-moble {
    margin-top: 20px;
}
.next-event {
    padding: 25px 0;
}
.event-ticket .ticket-info .item .column {
    padding: 10px 0 0 20px;
}
.event-ticket .ticket-info .item h2 {
    margin-top: 10px;
}
.event-ticket .ticket-info .item .right-column {
    margin-bottom: 10px;
}
#getting-started {
    margin-top: 5px;
    line-height: 43px;
}
.left-box .single-comment-box ul li .icon-box{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.left-box .single-comment-box ul li .text-box{
    padding-left: 0;
    display: block;
    text-align: center;
    margin-top: 20px;
}
.blog-page .right-box{
   padding-left: 0;
}
}
@media (max-width: 360px) {
    .main-raised {
    margin: -60px 0px 0px;
}
.nav-pills > li > a {
    min-width: 88px;
}
}
